
body {
  text-align: center;
  font-family: Helvetica;
}
body, p{
  font-size: 14px;
}
.A {
  background-image: url("../images/the-flatiron-building.png");
  color: white;

}
.A H1{
  font-weight: bold;
  font-size: 70px;
}
.A ul li a{
  list-style-type: none;
  font-size: 18px;
  color: white;
}
H2.Process{
  font-size: 32px;
  font-weight: bold;
}
H3{
  font-size: 23px;
  font-weight: bold;
}
#Design-Heading{
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
.Footer{
  text-align: left;
  background-color: dimgray;
  color: white;
}
.Footer span a{
  color: white;
  font-size: 18px;
}
.Footer p{
  font-size: 11px;
}
